name: CI

on: [push]

jobs:
  # MAUI Android Build
  build-android:
    runs-on: windows-latest
    name: Android Build
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: '21'

      - name: Install MAUI Workload
        run: dotnet workload install maui --ignore-failed-sources

      - name: Restore Dependencies
        run: dotnet restore 'Sample/DirectMaui2/LocalNotification.Sample/LocalNotification.Sample.csproj'

      - name: Build MAUI Android
        run: dotnet publish 'Sample/DirectMaui2/LocalNotification.Sample/LocalNotification.Sample.csproj' -c Release -f net9.0-android --no-restore

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v4.6.0
        with:
          name: mauibeach-android-ci-build
          path: 'Sample/DirectMaui2/LocalNotification.Sample/bin/Release/net8.0-android/*Signed.a*'

  # MAUI iOS Build
  build-ios:
    runs-on: macos-15
    name: iOS Build
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Install MAUI Workload
        run: dotnet workload install maui --ignore-failed-sources

      - name: Show current version of Xcode
        run: xcodebuild -version

      - name: Show available Xcode versions
        run: ls /Applications | grep Xcode

      - name: Set XCode Version
        shell: bash
        run: |
          sudo xcode-select -s "/Applications/Xcode_16.4.app"
          echo "MD_APPLE_SDK_ROOT=/Applications/Xcode_16.4.app" >> $GITHUB_ENV

      - name: Install iOS Simulators
        run: |
          sudo xcode-select --switch /Applications/Xcode_16.4.app
          sudo xcodebuild -runFirstLaunch
          sudo xcrun simctl list
          sudo xcrun simctl create "iPhone 16" com.apple.CoreSimulator.SimDeviceType.iPhone-15 com.apple.CoreSimulator.SimRuntime.iOS-18-2
          
      - name: Restore Dependencies
        run: dotnet restore 'Sample/DirectMaui2/LocalNotification.Sample/LocalNotification.Sample.csproj'

      - name: Build MAUI iOS
        run: dotnet build 'Sample/DirectMaui2/LocalNotification.Sample/LocalNotification.Sample.csproj' -c Release -f net9.0-ios --no-restore /p:buildForSimulator=True /p:packageApp=True /p:ArchiveOnBuild=False

      - name: Upload iOS Artifact
        uses: actions/upload-artifact@v5
        with:
          name: mauibeach-ios-ci-build
          path: 'Sample/DirectMaui2/LocalNotification.Sample/bin/Release/net8.0-ios/iossimulator-x64/**/*.app'
