  name: Nuget Build

  on: [push]

  jobs:
    nuget:
      runs-on: windows-latest

      steps:
      - uses: actions/checkout@v3

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.x

      - name: Install MAUI Workloads
        run: |
          dotnet workload install android --ignore-failed-sources
          dotnet workload install ios --ignore-failed-sources
          dotnet workload install maui --ignore-failed-sources

      - name: Add private GitHub registry to NuGet
        run: dotnet nuget add source "https://nuget.pkg.github.com/thudugala/index.json" --name "GitHub" --username thudugala --password ${{ secrets.Elvin_Package_Registry }}

      - name : restore Plugin.LocalNotification.sln
        run: dotnet restore Source/Plugin.LocalNotification.sln

      - name: build Plugin.LocalNotification.csproj
        run: dotnet build Source/Plugin.LocalNotification/Plugin.LocalNotification.csproj --configuration Release

      - uses: actions/upload-artifact@v3.1.0
        with:
          name: Plugin.LocalNotification
          path: Source/Plugin.LocalNotification/bin/Release/

      - name: Push generated package to GitHub registry
        run: dotnet nuget push "**/*.nupkg" --api-key ${{ secrets.Elvin_Package_Registry }} --source "GitHub" --skip-duplicate

